.cart{
    background: #ec7c7c;
    display: none;
    padding: 12px;
    position: fixed;
    right: 0px;
    top: 0px;
    width:200px;
    overflow:scroll;
    scrollbar-color: rgb(254, 254, 254) #ec7c7c;
    scrollbar-width: thin;
}
.cart img{
    aspect-ratio: 16/9;
    width: 100%;
}
.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
}
.cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.cart footer  button {
 
    padding : 8px;
}
.cart-button{
    align-items: center;
    background:rgb(19, 148, 16);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 8px;
    top:3px;
    transition: all 1s ease;
    width: 32px;
    z-index:9999;
}
.cart-button:hover {
    scale: 1.1;
  }
  .cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
  }
  
 